.product-info-mailercode {
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-bottom: 5px;
}

.column.main .product-info-main .product-add-form {
        padding-top: 0px;
    }


